<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- bookname,author,email,subject,desc -->
    <form action="/books" method="post" enctype="multipart/form-data">
        bookname <input type="text" name="bookname">
        description <input type="text" name="desc">
        author <input type="text" name="author">
        email <input type="email" name="email">
        subject <input type="subject" name="subject">
        <input type="file" name="files">
        <button type="submit">submit</button>
    </form>
</body>
</html>