<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login"method="post">
        username<input type="text" name="user">
        password<input type="password" name="pass">
        <button type="submit">click</button>
    </form>
    <h1>new user</h1>
    <a href="/registerpage">Regester</a>
</body>
</html>