<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register"method="post">
        name <input type="text" name="name" >
        urn <input type="text" name="urn" id="">
        email <input type="email" name="email" id="">
        username<input type="text" name="user">
        password<input type="password" name="pass">
        <button type="submit">click</button>
    </form>
</body>
</html>