<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style2.css">
</head>

<body>
    <div class="left">

        <div class="midleft">

            <div class="innerrect">
                <img src="../images/girl.png" alt="" class="img1">
            </div>
        </div>
    </div>
    <div class="right">
        <div class="up">
            <div class="logo"><img src="../images/logo.png" alt="" width="80%" height="60%"></div>
            <div class="logoname">BookHive</div>
        </div>
        <div>
            <form class="form1">
                <div class="text1">Sign Up</div>
                <div class="form1">
                </div>
                <div>
                <input type="text" name="name" placeholder="Enter Full name">
                </div>
                <div>
                    <input type="text" name="URN" placeholder="Enter URN">
                    </div>
                <div>
                    <input type="email" name="email" placeholder="Enter your email">
                </div>
                <div>
                    <input type="password" name="password" placeholder="Enter your password">
                </div>
                <div>
                    <input type="submit" name="Sign Up" value="Sign Up" class="loginbut">
                </div>
                <div class="text2">Already an User?</div>
                <div>
                    <a href="" class="create">Sign In</a>
                </div>

            </form>
        </div>

</body>

</html>