<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style3.css">
</head>

<body>
    <div class="navbar">
    </div>
    <div class="content">
        <div class="inner">
            <form action="/books" method="post" enctype="multipart/form-data" class="form1">
                <div>
                <label for="html">Book Name</label><br>
            </div>
            <div>
                <input type="text" name="bookname" placeholder="Enter your bookname">
            </div>
                <div>
                <label for="html">Email</label><br>
            </div>
            <div>
                <input type="text" name="email" placeholder="Enter your bookname">
            </div>
            <div>
                <label for="html">Category</label><br>
            </div>
            <div>
                <input type="text" name="subject" placeholder="Enter book Category">
            </div>
            <div>
                <label for="html">Author</label><br>
            </div>
            <div>
                <input type="text" name="author" placeholder="Enter Author Name">
            </div>

            <div>
                <label for="html">Description</label><br>
            </div>
            <div>
                <input type="text" name="desc" placeholder="Enter Author Name">
            </div>
            <div class="upload"><input type="file" name="files"></div>

            <div>
                <input type="submit" value="Submit">
            </div>
            

            </form>

        </div>

        </form>
    </div>
    </div>
</body>

</html>